@(productForm: Form[forms.ProductForm])



@productForm("imageLargeURL").value

productForm("imageLargeURL")

@main("Sell My Things") {
<div class="features">
    @helper.form(action = routes.ProductController.saveProduct()) {
    <div class="product_box">
        <div class="addProduct_icon"><img  src="@productForm("imageLargeURL").value"></div>
        <div class="addProduct_content">
            <div class="addProduct_details">
                <p>@helper.inputText(productForm("author"))</p>
                <p>@helper.inputText(productForm("title"))</p>
                <p>@helper.inputText(productForm("productid"))</p>
                <p>@helper.inputText(productForm("manufacturer"))</p>
                <p>@helper.inputText(productForm("productgroup"))</p>
                <p>@helper.inputText(productForm("productidtype"))</p>
                <p>@helper.inputText(productForm("productIndex"))</p>
                <p>@helper.inputText(productForm("imageURL"))</p>
                <p>@helper.inputText(productForm("imageLargeURL"))</p>
                <p>@helper.inputText(productForm("source"))</p>
                <p>@helper.inputText(productForm("sourceid"))</p>
            </div>
            <button name="Save">Save</button>
        </div>
    </div>
</div>
}
}
